<?xml version='1.0' encoding='utf-8'?>
<!--
  Cloud Foundry Java Buildpack
  Copyright (c) 2013 the original author or authors.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<Server port='-1'>

    <Service name='Catalina'>
        <Connector port='${http.port}' bindOnInit="false" connectionTimeout="20000" server="Apache TomEE"/>
        <!--Connector port="8080" protocol="HTTP/1.1" connectionTimeout="20000" redirectPort="8443" xpoweredBy="false" server="Apache TomEE" /-->

        <Engine defaultHost='localhost' name='Catalina'>
            <Valve className="org.apache.catalina.valves.RemoteIpValve" protocolHeader="x-forwarded-proto"/>
            <Valve className="com.gopivotal.cloudfoundry.tomcat.logging.access.CloudFoundryAccessLoggingValve"
                   pattern='[ACCESS] %{org.apache.catalina.AccessLog.RemoteAddr}r %l %t %D %F %B %S vcap_request_id:%{X-Vcap-Request-Id}i'
                   enabled="${access.logging.enabled}"/>
            <Host name='localhost'>
                <Listener className="com.gopivotal.cloudfoundry.tomcat.lifecycle.ApplicationStartupFailureDetectingLifecycleListener"/>

                <!-- Listener className="org.apache.myfaces.webapp.StartupServletContextListener"/-->

                <Listener className="org.apache.tomee.catalina.ServerListener"/>
                <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
                <!-- Security listener. Documentation at /docs/config/listeners.html
                <Listener className="org.apache.catalina.security.SecurityListener" />
                -->
                <!--APR library loader. Documentation at /docs/apr.html -->
                <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on"/>
                <!--Initialize Jasper prior to webapps are loaded. Documentation at /docs/jasper-howto.html -->
                <Listener className="org.apache.catalina.core.JasperListener" />
                <!-- Prevent memory leaks due to use of particular java/javax APIs-->
                <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
                <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
                <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

            </Host>
        </Engine>
    </Service>

</Server>
